@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-white dark:bg-black
    text-black dark:text-white
    transition-colors;
  }
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply transition-colors;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-600
  rounded;
}

.card-glass {
  backdrop-filter: blur(20px) saturate(100%);
  -webkit-backdrop-filter: blur(20px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.9);
}

.link {
  @apply hover:text-primary-500 dark:hover:bg-primary-200 transition-colors;
}
