@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-white dark:bg-black
    text-black dark:text-white
    transition-colors;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-500 dark:bg-primary-200 border
  border-l-2 border-r-2 border-r-white border-l-white
  rounded;
}
